*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.age-cal{
        width: 100%;
        min-height: 730px;
        background: red;
        color: #ffff;
        padding: 10px;
    .calculator{
        width: 100%;
        max-width: 440px;
        margin-left: 10%;
        margin-top: 10%;
        @media (max-width: 500px){
            margin: 0px;
        }
        h1{
            font-size: 60px;
             @media (max-width: 480px){
                    font-size: 45px;
                }
            span{
                color: #fff76f;
            }
        }
        .input-box{
            margin: 45px 0px;
            padding: 35px;
            border-radius: 10px;
            background: rgb(255,255,255,0.3);
            @media (max-width: 480px){
                     padding: 10px;
                }
            input{
                flex: 1;
                margin-right: 20px;
                padding: 14px 50px;
                border: 0px;
                font-size: 18px;
                outline: 0;
                border-radius: 5px;
                position: relative;
                 @media (max-width: 480px){
                    padding: 7px 10px;
                    margin: 9px 0px;
                }

            }
            ::hover {
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: auto;
                position: absolute;
                background-size: 30px;
                background-position: calc(100% - 10px);
                cursor: pointer;
                height: auto;
            }
            button{
                background: #ffff76;
                border: 0;
                outline: 0;
                padding: 15px 30px;
                border-radius: 5px;
                font-weight: 500;
                color: #333;
                cursor: pointer;
                @media (max-width: 480px){
                    padding: 7px 10px;
                }
            }
        }
    }
    #result{
        font-size: 22px;
        span{
            color: #151118;
        }
    }

}